.new_article {
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  width: 80%;
  background-color: white;
  box-shadow: 6px 5px 8px 0px rgba(34, 60, 80, 0.2);
}

.articleTitle {
  width: max-content;
  margin: auto;
  margin-bottom: 20px;
}

.button {
  width: 200px;
  color: white !important;
  background-color: #1677ff !important;
}
